QLineEdit {
    border: 2px solid #cfcfcf;
    border-radius: 12px; /* Rounded corners */
    background-color: white;
    padding: 8px;
    color: #333;
}

QTabWidget::pane {
    border: 2px solid #cfcfcf;
    border-radius: 12px; /* Rounded corners */
    background-color: #f0f0f0;
}

QTabBar::tab {
    color: #333;
    padding: 8px 16px;
    border: 2px solid #cfcfcf;
    border-radius: 12px; /* Rounded corners */
    background-color: #f0f0f0;
}

QTabBar::tab:selected {
    background-color: white;
    border-color: white;
}

QMainWindow {
    background-color: #f0f0f0;
    border: 2px solid #cfcfcf;
    border-radius: 12px; /* Rounded corners */
}

QToolTip {
    background-color: #333; /* Dark background for tooltips */
    color: white;
    border: 1px solid #cfcfcf;
    border-radius: 8px; /* Rounded corners for tooltips */
}
